
# dependencies
node_modules
/npm-debug.log*
/yarn-error.log

# production
/dist
/release

# misc
.DS_Store

# about renderer
renderer/node_modules
renderer/src/.umi
renderer/src/.umi-production
renderer/build
src/renderer/src/.umi*